* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    box-sizing: border-box;
}

body {
    background: url('../img/whopokemon.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.wrapper {
    width: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poke-stats {
    /* padding: 50px; */
    display: flex;
    justify-content: center;
    width: 100%;
}

.poke-stats div {
    padding: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3A5DA8;
    -webkit-text-fill-color: #FFCB05;
    font-weight: bold;
    font-size: 50px;
}

.poke-container img {
    max-height: 400px;
    max-width: 500px;
}

.poke-container img.desaturate {
    filter: brightness(0%);
}

.poke-buttons {
    display: flex;
    width: 100vh;
    justify-content: center;
    padding: 30px;
}

.divider {
    width: 30px;
}

button {
    border-radius: 10px;
    background-color: #FFCB05;
    color: #3A5DA8;
    border: 2px solid #3A5DA8;
    padding: 10px 60px;
    font-size: 17px;
    cursor: pointer;
}


/* The snackbar - position it at the bottom and in the middle of the screen */

#snackbar {
    visibility: hidden;
    background-color: green;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    bottom: 50vh;
}

#snackbar.show {
    visibility: visible;
    animation: fadein 1s, fadeout 0.5s 2s;
}


/* Animations to fade the snackbar in and out */

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}