* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    box-sizing: border-box;
}

body {
    background: url('../img/whopokemon.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.wrapper {
    margin-left: 60px;
    width: 600px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.poke-stats {
    padding: 20px;
    color: red;
    font-size: 40px;
    font-weight: bold;
}

.poke-container {
    padding: 20px;
}

img {
    max-height: 400px;
    max-width: 500px;
}

img.desaturate {
    filter: brightness(0%);
}