* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    box-sizing: border-box;
}

body {}

.wrapper {
    background: url('/home/jruivo/Documents/webdev/mystuff/img/whopokemon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    display: flex;
    align-items: center;
}

.pokemon {
    margin-left: 100px;
}

img {
    max-height: 500px;
}

img.desaturate {
    filter: brightness(0%);
}